In [5]:
#import the modules
import os
import pandas as pd
#read the path
file_path = "C:\\Users\\Duhovit\\Desktop\\Calculos\\CAUDAL_MODULOS"
#list all the files from the directory
csv_files = os.listdir(file_path)
csv_files

['VOL_MOD_1.csv',
 'VOL_MOD_10.csv',
 'VOL_MOD_11.csv',
 'VOL_MOD_12.csv',
 'VOL_MOD_13.csv',
 'VOL_MOD_14.csv',
 'VOL_MOD_15.csv',
 'VOL_MOD_16.csv',
 'VOL_MOD_17.csv',
 'VOL_MOD_18.csv',
 'VOL_MOD_19.csv',
 'VOL_MOD_2.csv',
 'VOL_MOD_20.csv',
 'VOL_MOD_21.csv',
 'VOL_MOD_22.csv',
 'VOL_MOD_23.csv',
 'VOL_MOD_24.csv',
 'VOL_MOD_25.csv',
 'VOL_MOD_26.csv',
 'VOL_MOD_27.csv',
 'VOL_MOD_28.csv',
 'VOL_MOD_29.csv',
 'VOL_MOD_3.csv',
 'VOL_MOD_30.csv',
 'VOL_MOD_31.csv',
 'VOL_MOD_32.csv',
 'VOL_MOD_33.csv',
 'VOL_MOD_34.csv',
 'VOL_MOD_35.csv',
 'VOL_MOD_36.csv',
 'VOL_MOD_37.csv',
 'VOL_MOD_38.csv',
 'VOL_MOD_39.csv',
 'VOL_MOD_4.csv',
 'VOL_MOD_40.csv',
 'VOL_MOD_41.csv',
 'VOL_MOD_42.csv',
 'VOL_MOD_43.csv',
 'VOL_MOD_44.csv',
 'VOL_MOD_45.csv',
 'VOL_MOD_46.csv',
 'VOL_MOD_47.csv',
 'VOL_MOD_48.csv',
 'VOL_MOD_49.csv',
 'VOL_MOD_5.csv',
 'VOL_MOD_50.csv',
 'VOL_MOD_51.csv',
 'VOL_MOD_6.csv',
 'VOL_MOD_7.csv',
 'VOL_MOD_8.csv',
 'VOL_MOD_9.csv']

In [6]:
df_concat = pd.concat([pd.read_csv(file_path+"\\"+f) for f in csv_files ], ignore_index=True)
df_concat

           id     valor  id_modulo            timestamp
0      208727  4.500000          1  2023-01-06 19:20:03
1      208664  4.500000          1  2023-01-06 19:10:03
2      208601  4.500000          1  2023-01-06 19:00:04
3      208538  4.500000          1  2023-01-06 18:50:04
4      208475  4.500000          1  2023-01-06 18:40:03
...       ...       ...        ...                  ...
50541   97411  5.779961          9  2022-12-14 22:30:03
50542   97364  5.779961          9  2022-12-14 22:20:03
50543   97317  5.779961          9  2022-12-14 22:10:04
50544   97270  5.779961          9  2022-12-14 22:00:04
50545   97223  6.039302          9  2022-12-14 21:50:04

[50546 rows x 4 columns]

In [7]:
## save concat csv
df_concat.to_csv('CAUDALES_MODULOS.csv')